<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Formulário Cadastro aluno</h1>
    <form id="test-form" method="post" action="/cadastroAluno">
        
        <label for="id">Email:</label>
        <input type="text" id="email" name="email" required><br>

        <label for="val1">Nome :</label>
        <input type="text" id="nome" name="nome" required><br>

        <button type="submit">Enviar</button>
    </form>
    
</body>
</html>